# macOS files
*.DS_Store

# build directory
build_editor/
build_sandbox/
build/

# Visual Studio Code directory
.vscode/

# binary
veditor
vulture
vulture-editor

# ImGui
imgui.ini

log/

# CLion Cache
.idea

# CLion CMake cache
cmake-build-debug
cmake-build-debug-coverage

# Tests
fennecs_tests

# SPIR-V binaries
*.spv