# macOS files
*.DS_Store

# build directory
build_editor/
build_sandbox/

# Visual Studio Code directory
.vscode/

# binary
vulture-editor

log/

# CLion Cache
.idea

# CLion CMake cache
cmake-build-debug