[submodule "engine/third_party/glm"]
	path = engine/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/third_party/fmt"]
	path = engine/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/third_party/openal-soft"]
	path = engine/third_party/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "engine/third_party/vorbis"]
	path = engine/third_party/vorbis
	url = https://github.com/xiph/vorbis.git