# macOS files
*.DS_Store

# build directory
build_editor/
build_sandbox/
build/

# Visual Studio Code directory
.vscode/

# binary
vulture-editor

build.sh
run.sh

# ImGui
imgui.ini

log/

# CLion Cache
.idea

# CLion CMake cache
cmake-build-debug

# Tests
fennecs_tests