[submodule "engine/third_party/glm"]
	path = engine/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/third_party/fmt"]
	path = engine/third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "engine/third_party/fennecs"]
	path = engine/third_party/fennecs
	url = https://github.com/elisfromkirov/fennecs.git
[submodule "engine/third_party/vma"]
	path = engine/third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine/third_party/yaml_cpp"]
	path = engine/third_party/yaml_cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "engine/third_party/assimp"]
	path = engine/third_party/assimp
	url = https://github.com/assimp/assimp/
